<div id="generator">
    <pre>@currentGuid</pre>
    <button class="button" onclick="@GenerateNewGuid">Generate a new guid ⚡️</button>
</div>


@functions {
    string currentGuid = Guid.NewGuid().ToString();

    void GenerateNewGuid()
    {
        currentGuid = Guid.NewGuid().ToString();
    }
}
